.famous-blocks {
  background-color:#71625a;
  font-size:25px;
  line-height:1.345;
  color:#ffffff;
  margin-top:-25px;

  h2 {
    color:#ffffff;
    background-color:#524741;
    padding:34px 0;
    font-size:49px;
    line-height:1;
  }
  p {
    padding:15px 25px 0 25px;
  }
  .fig-caption {
    font-size:18px;
    .opacity(0.5);
    padding-top:10px;
    padding-bottom:30px;
  }
  .map {
    position:relative;
  }
  .map-link, .google-map, .google-map img, .leaf-turn {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .map-link, .leaf-turn {
    z-index:10;
  }
  .google-map, .leaf-turn {
    width:90px;
    height:90px;
    transition:(all 0.5s);
    -webkit-transition:(all 0.5s);
  }
  .map-link {
    bottom: 9px;
    width:130px;
    height:130px;

    &:hover {
      .leaf-turn, .google-map {
        width:130px;
        height:130px;
      }
    }
  }
  .google-map {
    z-index:9;
    overflow:hidden;

    img {
      max-width:none;
    }
  }
}