.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.crunch {
  margin:0;
}
.dashed-top {
  border-top:dashed 2px rgb(35, 79, 112);
  border-top:dashed 2px rgba(0, 0, 0, 0.4);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.dashed-bottom {
  border-bottom:dashed 2px rgb(35, 79, 112);
  border-bottom:dashed 2px rgba(0, 0, 0, 0.4);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}