.positioning-relatives {
  font-size:25px;
  line-height:1.32;
  position:relative;
  top:20px;
  z-index:5;

  .heading {
    font-size:75px;
    line-height:1.05;
    color:#fdcd84;
    margin-bottom:30px;
  }
  .article-detail {
    position: relative;
    top:-180px;
  }
  p {
    letter-spacing:-0.1px;
  }
  img {
    position: relative;
    left:-145px;
    transform:rotate(-3.8deg);
    z-index:-1;
    max-width:none;
  }
}