@media (max-width:1079px) {
	.logo {
		font-size:225px;
	}
	.volume {
		margin-top:110px;
	}
	.purple-haze {
		height:910px;
	}
	.positioning-relatives {
		top:70px;
		font-size:21px;
		margin-bottom:110px;

		img {
			max-width:150%;
			margin-left:-65px;
		}
		h2 {
			font-size:65px;
		}
		.article-detail {
			margin-top:-140px;
			left:0;
			padding-left:50px;
		}
	}
	.box-model {
		img {
			max-width:90%;
		}
	}
	.staying-afloat {
		h2 {
			font-size:19px;
		}
		img {
			display:none;
		}
	}
	.bullets {
		ul li {
			margin-bottom:40px;
		}
		.figure {
			height:390px;
		}
		.figcaption {
			.largest {
				font-size:73px;
			}
			.larger {
				font-size:68px;
			}
			.large {
				font-size:33px;
				line-height:1;
			}
			.medium {
				font-size:33px;
				line-height:1;
			}
			.small {
				font-size:30px;
				line-height:1;
			}
			.smaller {
				font-size:28px;
			}
			.tiny {
				font-size:27px;
			}
			.tinier {
				font-size:25px;
			}
			&.bullet-3 {
				margin-top:-24px;
			}
			&.bullet-4 {
				margin-top:-52px;
			}
			&.bullet-5 {
				margin-top:-49px;
			}
		}
	}
	.famous-blocks {
		font-size:22px;

		h2 {
			font-size:40px;
			padding:22px 0;
		}
		.fig-caption {
			font-size:16px;
			padding-bottom:20px;
		}
	}
	.upside-down-heads {
		background-size:68%;
	}
	.immigration {
		padding-top:115px;
		p {
			font-size:21px;
		}
		h2 {
			font-size:59px;
			border-bottom-width:16px;
		}
		h3 {
			font-size:29px;
			padding-bottom:10px;
		}
	}
	.transformers {
		img {
			left:-24px;
			max-width:120%;
		}
		.rotten {
			font-size:16px;
		}
		.rotten-rating {
			font-size:35px;
		}
		.percentage {
			font-size:56px;
			margin-top:-3px;
			margin-left:5px;
		}
		.premiere {
			.venue {
				font-size:28px;
			}
			.country {
				font-size:29px;
			}
			.time {
				font-size:42px;
			}
		}
	}
	.overflow {
		img {
			left:0;
			top:-25px;
			max-width:100%;
		}
		.para-1 {
			margin-bottom:30px;
		}
	}
}
@media (max-width:799px) {
	.purple-haze {
		background-image:none;
		width:100%;
		height:300px;
	}
	.volume {
		margin-top:20px;
	}
	.logo {
		font-size:160px;
		text-align:center;
	}
	.positioning-relatives {
		top:0;
		margin-top:60px;
		margin-bottom:40px;

		img {
			max-width:100%;
			margin:0;
		}
		h2 {
			margin-bottom:60px;
			font-size:60px;
		}
		.article-detail {
			margin-top:-120px;
			padding-left:30px;
		}
	}
	.box-model {
		top:0px;
		margin-top:90px;
		margin-bottom:80px;

		img {
			left:0;
			float:left;
			margin-right:20px;
		}
	}
	.staying-afloat {
		text-align:left;
		padding:15px 30px;
		border-top:solid 1px #e5e5e5;

		h2 {
			font-size:24px;
		}

		p {
			padding:0;
			font-size:16px;
		}
	}
	.bullets {
		ul {
			li.col-sm-6 {
				border-left:none;
			}
			li.col-sm-6:last-child {
				border-left:solid 1px #e5e5e5;
				margin-left:0;
			}
		}
	}
	.upside-down-heads {
		background-image:none;
	}
	.immigration {
		padding-top:0;
		margin-top:30px;
		text-align:center;
	}
	.transformers {
		text-align:center;
		margin-top:80px;
		margin-left:0;

		img {
			left:0;
			top:0;
			margin-top:-50px;
		}
		.article-detail {
			margin-top:-20px;
		}
		blockquote {
			font-size:24px;
			line-height:1.4;
		}
		.rating p {
			float:none;
		}
	}
	.overflow {
		margin-top:20px;

		img {
			top:-45px;
		}
		h2 {
			font-size:70px;
		}
		.para-1, .para-2, .para-3 {
			.rotate-none();
			text-align:left;
		}
	}
	.footer {
		text-align:center;

		.address {
			float:none;
			text-align:center;
			margin-top:20px;
		}
	}
}
@media (max-width:640px) {
	.box-model {
		margin-bottom:50px;

		h2 {
			font-size:32px;
		}

		img {
			float:none;
			margin-right:0;
		}
	}
	.positioning-relatives .article-detail {
		margin-top:-160px;
	}
	.transformers img {
		max-width:100%;
	}
	.overflow {
		padding-bottom:50px;

		img {
			top:5px;
		}
		h2 {
			font-size:50px;
			top:10px;
			.rotate-none();
			left:0;
		}
		p, em {
			font-size:14px;
		}
		.para-1, .para-2, .para-3 {
			margin-bottom:15px;
		}
	}
}
@media (max-width:480px) {
	.purple-haze {
		height:230px;
	}
	.logo {
		font-size:132px;
		margin-top:0;
		.wider {
			letter-spacing:0;
		}
	}
	.volume {
		float:none;
		text-align:center;
	}
	.box-model {
		margin-top:40px;
		font-size:17px;
	}
	.positioning-relatives {
		font-size:16px;
		margin-top:50px;

		h2 {
			font-size:45px;
			margin-bottom:30px;
		}
		.article-detail {
			padding-left:20px;
			margin-top:-120px;
		}
	}
	.bullets {
		h2 {
			span {
				display:block;
			}
		}
	}
	.famous-blocks {
		font-size:16px;
		margin-top:0;

		h2 {
			font-size:30px;
		}
		.fig-caption {
			padding-top:0;
			padding-bottom:10px;
			font-size:14px;
		}
		p {
			padding:10px 15px 0 15px;
		}
	}
	.immigration {
		h2 {
			font-size:44px;
		}
		h3 {
			font-size:20px;
		}
		p {
			font-size:16px;
		}
	}
	.overflow {
		img {
			display:none;
		}
	}
}

@media (max-width:360px) {
	.logo {
		font-size:145px;
	}
	.purple-haze {
		height:290px;
	}
	.positioning-relatives {
		h2 {
			font-size:30px;
		}

		.article-detail {
			margin-top:-90px;
		}
	}
	.bullets {
		ul li {
			border-left:none;
			margin:0;
		}
	}
	.overflow h2 {
		display:block;
		font-size:55px;
		left:0;
		text-align:center;
	}
}