html {
  font-size: 62.5%;
}

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

.logo {
	font-size:279px;
	line-height:0.8;
	margin-left:-60px;
}