html {
  font-size: 62.5%;
}

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

img {
  max-width:100%;
}

a {
  color:#000;
  text-decoration: none;

  &:hover, &:focus, &:active {
    .opacity(0.9);
    text-decoration:underline;
  }
}

.logo {
  font-size:279px;
  line-height:0.8;
  margin-left:-65px;
  word-wrap: break-word;
  position:relative;
  left:30px;
  z-index:10;
}

.volume {
  font-size:12px;
  color:#b0aeb8;
  margin-top:100px;
}

.feature {
  font-size:13px;
  color:#cbb8a0;
  margin-bottom:10px;
}

.box-model {
  font-size:19px;
  color:#6e6c77;
  padding-right:98px;
  
  .heading {
    font-size:36px;
    color:#5f5d66;
  }
}

.staying-afloat {
  letter-spacing:-0.1px;

  .heading {
    color:#24795a;
    font-size:21px;
    margin-bottom:6px;
    padding-right:20px;
  }

  p {
    padding-right:20px;
    padding-left:6px;
  }
}

.bullets {
  .heading {
    font-size:15px;
    color:#a97d35;
    vertical-align:center;
    padding:15px 0;
    border-top:solid 1px #e5e5e5;
    border-bottom:solid 1px #e5e5e5;

    span {
      font-size:12px;
      color:#e0c167;
      position:relative;
      left:5px;
      top:-2px;
    }
  }

  ul {
    margin-top:15px;

    li {
        color:#e0e0e0;
        border-left:solid 1px #e5e5e5;
        margin-left:-1px;
        text-align:center;

        .figure {
          height:420px;
        }

        .figcaption {
          margin-top:-44px;
          position:relative;
          z-index:-1;

          span {
            display:block;
            line-height:40px;
            letter-spacing: -1px;
          }
          .largest {
            font-size:87px;
            line-height:1;
          }
          .larger {
            font-size:79px;
            line-height:1;
          }
          .large {
            font-size:40px;
            line-height:40px;
          }
          .medium {
            font-size:39px;
            line-height:40px;
          }
          .small {
            font-size:38px;
            line-height:40px;
          }
          .smaller {
            font-size:32px;
            line-height:1.1;
          }
          .tiny {
            font-size:31px;
            line-height:40px;
          }
          .tinier {
            font-size:28px;
            line-height:1.1;
          }
          &.bullet-3 {
            margin-top:-20px;
          }
          &.bullet-4 {
            margin-top:-68px;
          }
          &.bullet-5 {
            margin-top:-61px;
          }
        }

        &:first-child {
          border-left:none;
          margin-left:0;
        }
    }
  }
}

.famous-blocks {
  background-color:#71625a;
  font-size:25px;
  line-height:1.345;
  color:#ffffff;
  margin-top:-25px;

  .heading {
    color:#ffffff;
    background-color:#524741;
    padding:36px 0;
    font-size:49px;
    line-height:1;
  }
  p {
    padding:15px 25px 0 25px;
  }
  .fig-caption {
    font-size:18px;
    .opacity(0.5);
    padding-top:10px;
    padding-bottom:30px;
  }
}

.upside-down-heads {
  background:url(/images/upside-down-heads.jpg) no-repeat left top;
}

.transformers {
  margin-left:15px;
  margin-top:15px;
  background-color:#3a83bb;
  position:relative;
  padding-bottom:30px;

  img {
    position:relative;
    top:-66px;
    left:-35px;
    max-width:none;
  }
  .article-detail {
    margin-top:-100px;
    color:#fff;
  }
  h2 {
    font-size:31px;
  }
  h3 {
    font-size:21px;
    border-bottom: 8px solid rgb(97, 155, 199);
    border-bottom: 8px solid rgba(255, 255, 255, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding-bottom:12px;
    margin-bottom:15px;
  }
  blockquote {
    font-size:16px;
    line-height:1.5;
    margin-bottom:18px;
  }
  .spaced {
    padding:0 12px;
  }
  .alt-text {
    color:#88aed1;
  }
  .rating {
    border-bottom: 4px solid rgb(52, 118, 168);
    border-bottom: 4px solid rgba(0, 0, 0, .1);
    border-top: 4px solid rgb(52, 118, 168);
    border-top: 4px solid rgba(0, 0, 0, .1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    letter-spacing: -0.2px;
    padding-bottom:23px;
    padding-top:18px;
    line-height:1.1;
  }
  .rotten {
    font-size:32px;
  }
  .percentage {
    font-size:54px;
    margin-top:-7px;
  }
  .rating-bar {
    height:8px;
    background-color: rgb(97, 155, 199);
    background-color: rgba(255, 255, 255, .2);

    .percent {
      width:20%;
      background-color:#fff;
      height:8px;
    }
  }
  .premiere {
    padding-top:20px;
    letter-spacing:-0.2px;

    .address {
      line-height:1.2;
    }
    .venue {
      font-size:27px;
    }
    .country {
      font-size:28px;
    }
    .time {
      font-size:39px;
      line-height:1;
    }
    .title {
      background-color: rgb(97, 155, 199);
      background-color: rgba(255, 255, 255, .2);
      line-height:1;

      p {
        background-color:#3a83bb;
        width:60%;
        margin:0 auto;
      }
    }
  }
}

.overflow {
  padding-bottom:80px;
  position:relative;

  h2 {
    font-size:82px;
    color:#a0b4c0;
    .rotate(5deg);
    .inline-block;
    left:30px;
  }
  img {
    position:absolute;
    z-index:5;
    top:-38px;
    left:-25px;
    max-width:none;
  }
  p, h2 {
    position:relative;
    z-index:10;
  }
  p, em {
    font-size:16px;
    color:#5e6c74;
  }
  em {
    .lora-bold-italic();
  }
  .para-1 {
    .rotate(2.5deg);
    margin-top:30px;
  }
  .para-2 {
    .rotate(-1deg);
  }
  .para-3 {
    .rotate(1deg);
    margin-top:20px;
  }
}

.footer {
  padding:20px 0 50px 0;
  border-top:solid 1px #e5e5e5;

  small {
    .opacity(0.6);
    font-size:17px;

    .volume-num {
      color:#8c8c8c;
    }
  }

  .address {
    font-size:13px;
    color:#989898;
  }
 
}